.navigateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoContainer {
  display: flex;
  align-items: center;
  .logo img {
    width: 60px;
    height: 60px;
  }
  .logoText {
    color: #144e5a;
    font-size: 33px;
    margin-left: 5px;
  }
}
.navbarContainer {
  // opacity: 0;
  // pointer-events: none;
  // transition: all 1s ease;
}

.navbarContainer ul {
  display: flex;
}
.navbarContainer ul li {
  list-style-type: none;
  margin-right: 20px;
  font-size: 23px;
}
//start frofile sec:
.frofileContainer {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  .user {
    margin-left: 20px;
  }
}

// start collapse style

.collapse {
  cursor: pointer;
  display: none;
  overflow: hidden;
}
.close_icon {
  display: none;
}
$small: 250px;
$medium: 900px;
$large: 1200px;
$xl: 1400;
@media screen and (min-width: $small) and (max-width: $medium) {
  body {
    padding: 10px;
  }
  .navigateContainer {
    display: block;
    position: relative;

    .navbarContainer {
      width: 170px;
      height: 70vh;
      padding: 20px 10px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
      border-top-left-radius: 10px;
      ul {
        display: block;
      }
      li {
        font-size: 17px;
        margin-right: 0px;
        margin-bottom: 4px;
        z-index: 4;
      }
    }
    .frofileContainer {
      position: absolute;
      top: 68%;
      padding: 5px 15px;
      width: 100px;
      .user {
        // color: white;
      }
    }
    .collapse {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .navbarContainer.active {
      background: rgba(128, 128, 128, 0.514);
      opacity: 1;
      pointer-events: all;
      .frofileContainer.active {
        display: none;
      }
    }
    .frofileContainer {
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
    }
    .frofileContainer.active {
      opacity: 1;
      pointer-events: all;
    }
  }
}
